*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    transition: all 0.2s ease-in-out;
}

body{
    width: 100%;
    height: 100%;
}

main{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    height: 500px;
    border: 0.1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 0 15px grey;
}

section .box{
    color: #eee;
    width: 300px;
    padding: 20%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

section .box h1{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

section .box p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

section .box .learnMore{
    width: 150px;
    height: 50px;
    border-radius: 75px;
    border: none;
    font-weight: bolder;
}

section:nth-of-type(1) .box .learnMore{
    color: orange;
}

section:nth-of-type(2) .box .learnMore{
    color: rgb(1, 138, 138);
}

section:nth-of-type(3) .box .learnMore{
    color:  rgb(1, 65, 65);
}

section:nth-of-type(1){
    background-color: orange;
    border-bottom-left-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
}

section:nth-of-type(2){
    background-color: rgb(1, 138, 138);
}

section:nth-of-type(3){
    background-color: rgb(1, 65, 65);

    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

@media(max-width: 1000px){
    body{
        overflow: auto;
    }
    main{
        margin-top: 400px;
        flex-direction: column;
    }
    section:nth-of-type(1){
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
    }

    section:nth-of-type(3){
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
    
}

@media(min-width: 1000px){
    *{
        overflow: hidden;
    }
}

.gitlink {
    top: 20px;
    left: 40px;
    position: fixed;
    font-size: 40px;
    color: hsla(0, 0%, 0%, 0.378);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .gitlink:hover {
    text-decoration: underline;
  }

  .learnMore:hover{
    opacity: 0.7;
  }

  .learnMore:active{
    opacity: 0.9;
    background-color: #eee;
  }
